@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
	box-sizing: border-box;
}

/* HEADING PART until the image */
.heading {
	margin-left: 5%;
	margin-top: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.projectList {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.projName {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0px;
}
a {
	text-decoration: none;
	color: #aa6000;
	font-family: Nunito;
	font-size: 1rem;
}
.projName:hover {
	/* 	animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
	animation-name: projectAnimate;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: forwards;
	animation-play-state: ease-out;
	transform-style: inherit;
	/* 	tranform style will make the text rotate if you remove it or don't add inherit then it will not make text rotate */
}
@keyframes projectAnimate {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.name {
	font-family: Nunito;
	z-index: 1;
	color: #754c00;
	font-size: 3rem;
	margin-top: 2px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0px;
}
.movingBlock {
	display: flex;
	border-radius: 20%;
	align-content: center;
	justify-content: center;
	align-items: center;
  background-color: darkorange;
  z-index: -1;
	color: white;
	width: 80px;
	height: 80px;
	box-shadow: -14px -14px #ffd68a;
	/* 	animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
	transition-property: background;
	animation-name: logo;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction: normal;
}

@keyframes logo {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
.all {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: Nunito;
}

/* BODY part from the image of Nidhi */

.body {
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	justify-content: center;
	align-items: center;
	color: #aa6000;
	font-family: Nunito;
	width: 100%;
	height: 100%;
}


.imgNidhi {
  border-left:10px solid darkorange;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}


.sub {
	color: #754c00;
}
.details {
	text-align: justify;
	width: 50%;
}
.subHead {
  color: #ffae42;
  z-index:1;
}
.credit {
	font-style: italic;
}
.headSubHead{
  display:flex;
  flex-direction: column;
}
.allName{
  display: flex;
  flex-direction: row;
}