@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
	box-sizing: border-box;
}

/* HEADING PART until the image */
.heading {
  margin-top:3%;
  margin-left: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.projectList {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.projName {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0px;
}
a {
	text-decoration: none;
	color: #aa6000;
	font-family: Nunito;
	font-size: 1.5rem;
}
.projName:hover {
	/* 	animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
	animation-name: projectAnimate;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: forwards;
	animation-play-state: ease-out;
	transform-style: inherit;
	/* 	tranform style will make the text rotate if you remove it or don't add inherit then it will not make text rotate */
}
@keyframes projectAnimate {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

.name {
	font-family: Nunito;
	color: #754c00;
	font-size: 3rem;
	margin-top: 1px;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0px;
}
.movingBlock {
	display: flex;
	border-radius: 20%;
	align-content: center;
	justify-content: center;
	align-items: center;
	text-align: center;
  	background-color: darkorange;
  	z-index: -1;
	color: white;
	width: 40px;
	height: 40px;
	box-shadow: -14px -14px #ffd68a;
	/* 	animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
	transition-property: background;
	animation-name: logo;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction: normal;
}
.App{
  margin-left:2%;
  margin-top:2%;
}
@keyframes logo {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}
.all {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: Nunito;
}

/* BODY part from the image of Nidhi */

.body {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	justify-content: center;
	align-items: center;
	color: #aa6000;
	font-family: Nunito;
	width: 100%;
	height: 100%;
}

.image{
  margin-left:5%;
}
.imgNidhi {
	box-sizing:content-box;
  	border-left:30px solid darkorange;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.imgNidhi:hover{
	border-left:none;
	border-right:30px solid darkorange ;
}

.about{
	z-index: 2;
	position: relative ;
	margin-bottom: 5%;
/* important attribute position if you want z index to work */
}
.sub {
	color: #754c00;
}
.details {
	text-align: justify;
	width: 50%;
}
.subHead {
  color: #ffae42;
 
}
.withLogo{
	display: flex;
	flex-direction: row;
}
.credit {
	font-style: italic;
	z-index:1;
	position:relative;
}
.headSubHead{
  display:flex;
  flex-direction: column;
  margin-left:5%;
  margin-top: 5%;
}
h2{
  text-align: center;
  margin-left: 6%;
}
.allName{
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width:829px){
	a{
		font-size: 0.5rem;
	}
	.name{
		font-size: 1.5rem;
	}
	h2{
		font-size: 1rem;
	}
	.about{
		font-size: 0.5rem;
	}
	.credit{
		font-size: 0.5rem;
	}
	p{
		font-size: 0.5rem;
	}
	.imgNidhi{
		width:100px;
		height:100px;
	}
	.movingBlock{
		width:20px;
		height:20px;
	}
}
@media only screen and (min-width:830px){
	a{
		font-size: 1.5rem;
	}
	.name{
		font-size: 3rem;
	}
	
	.about{
		font-size: 1rem;
	}
	.credit{
		font-size: 1rem;
	}
	p{
		font-size: 1rem;
	}
	.imgNidhi{
		width:200px;
		height:200px;
	}
	.movingBlock{
		width:40px;
		height:40px;
	}
}